<% include header.ejs %>
<h1><%= title %></h1>
<div>
	<form action="/recipes/suggest" method="post">
		<p>
			<label for="name">Receipe Title</label><br />
			<input type="text" name="name" id="name" value="" />
		</p>
		<p>
			<label for="ingredients">Ingredients</label><br />
			<textarea name="ingredients" id="ingredients" row="8" cols="40"></textarea>
		</p>
		<p>
			<label for="directions">Directions</label><br />
			<textarea name="directions" id="directions" row="8" cols="40"></textarea>
		</p>

		<p>
			
			<input type="submit" value="Submit" />
		</p>
	</form>
</div>
<% include footer.ejs %>